body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
}

.container {
    position: relative;
}

#tom-cat {
    display: block;
}

.eye {
    position: absolute;
    width: 25px;
    height: 50px;
    background-color: rgb(253, 250, 250);
    border-radius: 60%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#left-eye {
    top: 55%; /* Adjust according to image */
    left: 42.5%; /* Adjust according to image */
}

#right-eye {
    top: 55%; /* Adjust according to image */
    left: 55%; /* Adjust according to image */
}
